<li>
  <%= link_to event.event_name, event %>
  <% if current_user.admin? %>
    | <%= link_to "delete", event, method: :delete, data: { confirm: "You sure?" } %>
    admin should only see this underscore
  <% end %>
</li>