<% provide(:title, 'Event') %>
<div class="row">
  <h5><%= current_user.name %></h5>
  <h5>user id <%= current_user.id %></h5>
  <h1>Current Events</h1>
  <div class="col-sm-12">
    <ul class="events">
      <%= render @events %>
    </ul>
  </div>
</div>